#portfolioheader {
    background: url('https://images.pexels.com/photos/305827/pexels-photo-305827.jpeg?cs=srgb&dl=pexels-scott-webb-305827.jpg&fm=jpg') center center / cover no-repeat ;
    color: white;
  }

.imagestyle {
   padding: 5px;
   height: 20vw;
   object-fit: cover;
}

.buttonstyle {
    color: black;
}